# ===== Go =====
/bin/
/pkg/
*.exe
*.exe~
*.out
*.test
*.prof

# ===== Certificates / TLS =====
/cert
*.crt
*.key
*.pem

# ===== Environment =====
.env

# ===== Editor / OS =====
.vscode/
.idea/
.DS_Store
Thumbs.db

# ===== Logs =====
*.log
